@import "tailwindcss";


@theme {
  /* Color (Dark Mode) */
  --color-dark-primary: #09090B;
  --color-dark-secondry: #18181B;
  --color-dark-tertiary: #27272A;
  --color-dark-quaternary: #404040;
  --color-dark-accent: #FAFAFA;
  --color-dark-accent-highlight: #FFFFFF;
  --color-dark-accent-muted: #D9D9D9;

  /* Color (Light Mode) */
  --color-light-primary: #;
  --color-light-secondry: #;
  --color-light-tertiary: #;
  --color-light-quaternary: #;
  --color-light-accent: #;
  --color-light-accent-highlight: #;
  --color-light-accent-muted: #;

  /* Font */
  --font-lexend: var(--font-lexend), sans-serif;
  --font-calistoga: var(--font-calistoga), serif;
}


.badge {
  @apply bg-dark-secondry w-fit border-2 border-dark-tertiary;
}

a {
  color: #fff;
}

/* 
[box-shadow:0_0_0_1px_rgba(0,0,0,.03),0_2px_4px_rgba(0,0,0,.05),0_12px_24px_rgba(0,0,0,.05)] 
dark:[box-shadow:0_-20px_40px_-20px_#ffffff1f_inset]
*/